*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.content {
    flex: 1 1 auto;
}

img {
    width: 360px;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hero-background {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.hero-background, .footer {
    background-color: #1F2937;
}

.hero {
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 72px;
    flex-shrink: 0;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header a, .hero .subtext, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-desc {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-top: 64px;
    margin-bottom: 100px;
}

.hero .header.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.subtext {
    margin-bottom: 12px;
}

.button {
    color: #F9FAF8; 
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 12px;
    text-align: center;
    width: 84px;
}

.random-information {
    text-align: center;
    margin-bottom: 48px;
}

.subheader {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 32px;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.squares div {
    width: 200px;
}

.squares img {
    width: 200px;
    height: auto;
    border: 4px #3662F6 solid;
    border-radius: 25px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0;
}

